.mainNoReservation{
    background-color:#dfe4eabe;
    width: 100vw;
    height: 71.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.successfulBooking{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height:250px;
    width: 500px;
    background-color:#FFFFFF;
    border: 1px solid #DFE4EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color:#31363F;
    font-weight: bold;
    text-align:center;
    line-height:25px;
    font-size:16px;
}

.successfulBooking span{
    color:#F0572D;
    font-size: 20px;
}

.linkSuccessfulBooking{
    width: 30%;
}

.imgNoReservation{
    height: 60% !important;
    object-fit: cover;
    border-radius: 0px 8px 8px 0px;
}

.btnSuccessfulBooking{
    background-color: #F0572D;
    border-color: transparent;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    border: transparent;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    width: 40%;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width: 600px){

    .successfulBooking{
        width: 90%;
        height: 300px;
    }


}